name: Upload release to GitHub

on:
  push:
    tags:
      - "v*.*.*"        
  workflow_dispatch: {} 

permissions:
  contents: write        

jobs:
  build-n-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"   # stable fixed version

      - name: Install build dependencies
        run: |
          python -m pip install --upgrade pip
          pip install hatch
          # dev extras ඕන නම්:
          # pip install -e .[dev]

      - name: Build package with hatch
        run: hatch build

      - name: Get package version from hatch
        run: |
          echo "CURRENT_LIB_VERSION=$(hatch version)" >> $GITHUB_ENV

      - name: Create and upload GitHub release
        uses: softprops/action-gh-release@v2
        with:

          tag_name: ${{ github.ref_name }}
          # Release title: DLKGram v0.0.1
          name: DLKGram v${{ env.CURRENT_LIB_VERSION }}
          generate_release_notes: true
          make_latest: true
          draft: false
          prerelease: false
          files: dist/*
