name: Build and publish DLKGram to PyPI

on:
  push:
    tags:
      - "v*.*.*"        
  workflow_dispatch: {} 

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read


    environment: pypi

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install build tools
        run: |
          python -m pip install --upgrade pip
          pip install hatch

      - name: Build package with hatch
        run: hatch build

      - name: Publish package to PyPI via trusted publisher
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          verbose: true 

